<div class="about_banner">
	<div class="container">
		<h2>Contact</h2>
		<span class="breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i></a> / <span>Contact</span></span>
	</div>
</div>
<div class="about_top">
 <div class="container">
	<div class="col-md-3 column-1 column-13">
	   <i class="fa fa-envelope-o envelop"></i>
	      <address class="address">
              <p>Lorem Ipsum, <br>Noida, Sec-18 India.</p>
              <dl>
                 <dt></dt>  
                 <dd>Telephone :&nbsp;<span> +91 9015207920</span></dd>
                 <dd>E-mail :&nbsp;<a href="mailto:@">info@21cs.com</a></dd>
                 
              </dl>
           </address>
		
	</div>
	<div class="col-md-9 column-9">
	  <h3>Feedback</h3>
	   <p class="m_4">Have a question, feedback, or an idea you'd like to share? Our dedicated Support team is ready and available, 24/7.</p>
		   <form class="contact">
			  <input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
			  <input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
			  <input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
			  <textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
	          <div class="submit-wrap">
	          	<input type="submit" value="Send">
	          	<input type="reset" value="Clear">
	          </div>
		   </form>
      </div>		
    <div class="clearfix"> </div>
 </div>
</div>
<div class="map">
	<div id="googleMap" style="width:100%;height:500px;"></div>
   
</div>