
<!-- banner -->
<div class="banner">
	<div id="page-content">
		<div class="f-page" role="main"> 
			<section class="f-section f-white">	   
				<div class="f-content container" style=" padding:0px; max-width:98.2% !important;">
					<div class="row" style=" margin-bottom:0px;">
						<div class="col-md-12" style=" padding:0px !important;"><!---->
							<div id="Div17" data-role="z-accordion" data-options='{"autoplay": {"interval":8000, "smart":true}, "active": 0, "width": 1900, "height": 450, "theme": "black","orientation": "horizontal", "bordered":true, "shadows": true, "rounded": false, "sectionSpacing": 0, "headerSize": 48,"animation": {"duration": 400, "easing": "easeInOutQuart"}, "responsive": true}'>
									<section>
										<h3>Schools </h3>
										<div id="forschool">
											<div class="banner-info">
												<h3>Search Schools in your area as per your needs</h3>
												<div class="section" style="max-width:300px !important; margin:20px auto 0;">
													<label for="location" class="field prepend-icon" style=" float:left; width:70%;">
														<input type="text" name="location" id="location" placeholder="Area">
														<label for="location" class="field-icon">
															<i class="fa fa-search"></i>
														</label>
													</label>
													<a href="school.html" style="padding:0px !important;"><input class="banner_buttons" type="submit" onclick="" value="Search"></a>
													<div class="clearfix"> </div>
											   	</div>		
											</div>
										</div>
									</section>
									<section>
										<h3>Students</h3>
										<div id="forstudent">
											<div class="banner-info">
												<h3>Ask questions as per your subject<br>or<br>Facing problem ?</h3>
												<div class="section" style="max-width:300px !important; margin:20px auto 0;">
													<a href="forum.html" class=" banner_buttons">Ask Question</a>
													<div class="clearfix"> </div>
											   </div>	
											</div>
										</div>
									</section>
									<section>
										<h3>Teachers</h3>
										<div id="forteacher">
											<div class="banner-info">
												<h3>Help students with your expertise</h3>
												<div class="section" style="max-width:300px !important; margin:20px auto 0;">
													<a href="forum.html" class=" banner_buttons">Answer Questions</a>
													<div class="clearfix"> </div>
											   </div>		
											</div>									
										</div>
									</section>										
							</div>
						</div>
					</div>			   
				</div>
			</section>
		</div>
	</div>
				
	<div id="page-content2">
		<div class="f-page" role="main"> 
			<section class="f-section f-white ">	   
				<div class="f-content container">
					<div class="row">
						<div class="col-md-12"><!---->
							<div id="Div17" data-role="z-accordion" data-options='{"autoplay": {"interval":8000, "smart":true}, "width": 1140, "active": 0, "theme": "black","orientation": "vertical", "bordered":true, "shadows": true, "rounded": false, "sectionSpacing": 0, "headerSize": 48,"animation": {"duration": 400, "easing": "easeInOutQuart"}, "responsive": true}'>
								<section>
									<h3>Schools </h3>
									<div id="forschool">
										<div class="banner-info">
											<h3>Search Schools in your area as per your needs</h3>
											<div class="section" style="max-width:300px !important; margin:20px auto 0;">
												<label for="location" class="field prepend-icon" style=" float:left; width:70%;">
													<input type="text" name="location" id="location" placeholder="Area">
													<label for="location" class="field-icon">
														<i class="fa fa-search"></i>
													</label>
												</label>
												<input class="banner_buttons" type="submit" onclick="" value="Search">
												<div class="clearfix"> </div>
										   </div>		
										</div>
									</div>
								</section>
								<section>
									<h3>Students</h3>
									<div id="forstudent">
										<div class="banner-info">
											<h3>Ask questions as per your subject<br>or<br>Facing problem ?</h3>
											<div class="section" style="max-width:300px !important; margin:20px auto 0;">
												<a href="forum.html" class=" banner_buttons">Ask Question</a>
												<div class="clearfix"> </div>
										   </div>	
										</div>
									</div>
								</section>
								<section>
									<h3>Teachers</h3>
									<div id="forteacher">
										<div class="banner-info">
											<h3>Help students with your expertise</h3>
											<div class="section" style="max-width:300px !important; margin:20px auto 0;">
												<a href="forum.html" class=" banner_buttons">Answer Questions</a>
												<div class="clearfix"> </div>
										   </div>		
										</div>									
									</div>
								</section>
										
							</div>
						</div>
					</div>			   
				</div>
			</section>
		</div>
	</div>					
</div>
	<!-- //banner -->

<div class="box_1">
 	<div class="container">
    	<div class="box-info clearfix ">
      		<div class="heading_1 col-lg-3 col-md-3 col-sm-12 col-xs-12">
       			<div class="heading column heading-v1 separator_align_right">
         			<div class="heading-inner">
             			<small class="subheading"> introducing</small>
             			<h2>Shortly About Us</h2>
         			</div>   
      			</div>   
    		</div>  
    		<div class="col-lg-9 col-md-9 right_grid">
      			<h3>Learning Made Social.</h3>
      			<h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</h4>
      			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    		</div>  
    		<div class="clearfix"> </div> 
   		</div>
  	</div> 
</div>
<div class="box_2" style=" background:#e7e7e7 !important;">
  	<div class="container">
	  	<h3 class="marqueeheading">Schools</h3>
	    <ul id="flexiselDemo1">
			<li>
				<a href="profile.html">
					<img src="/assets/school4.png" alt="School" />
					<h4>DAV Public School</h4>
					<p>Noida, Sec-16</p>
				</a>
			</li>
			<li>
				<a href="profile.html">
					<img src="/assets/school2.png" alt="School" />
					<h4>Modern Public School</h4>
					<p>New Delhi</p>
				</a>
			</li>
			<li>
				<a href="profile.html">
					<img src="/assets/school3.png" alt="School" />
					<h4>ST Andrews Public School</h4>
					<p>Navi Mumbai</p>
				</a>
			</li>
			<li>
				<a href="profile.html">
					<img src="/assets/school1.png" alt="School" />
					<h4>Hillwoods Academy</h4>
					<p>Banglore</p>
				</a>
			</li>														   
		</ul>
  	</div>
</div>

<div class="box_2" style=" background:#f1f1f1 !important;">
  	<div class="container">
	  	<h3 class="marqueeheading">Teachers</h3>
	    <ul id="flexiselDemo2">
			<li>
				<a href="profile.html">
					<img src="/assets/c8.jpg" alt="Teacher" />
					<h4>Bikesh Kumar</h4>
					<p>Chemistry</p>
					<p>Noida, Sec-18</p>
				</a>
			</li>
			<li>
				<a href="profile.html">
					<img src="/assets/c11.jpg" alt="Teacher" />
					<h4>Alpana</h4>
					<p>Politics</p>
					<p>New Delhi</p>
				</a>
			</li>
			<li>
				<a href="profile.html">
					<img src="/assets/c3.jpg" alt="Teacher" />
					<h4>Preeti</h4>
					<p>English</p>
					<p>Faridabad</p>
				</a>
			</li>
			<li>
				<a href="profile.html">
					<img src="/assets/c13.jpg" alt="Teacher" />
					<h4>Animesh</h4>
					<p>Maths</p>
					<p>Noida</p>
				</a>
			</li>														   
		</ul>
  	</div>
</div>

<div class="box_2" style=" background:#e7e7e7 !important;">
  	<div class="container">
	  	<h3 class="marqueeheading">Students</h3>
	    <ul id="flexiselDemo3">
			<li>
				<a href="profile.html">
					<img src="/assets/pic6.jpg" alt="Student" />
					<h4>Ajay Mahto</h4>
					<p>Vanasthali Public School</p>
					<p>11th</p>
				</a>
			</li>
			<li>
				<a href="profile.html">
					<img src="/assets/pic5.jpg" alt="Student" />
					<h4>Bhupesh Mishra</h4>
					<p>Army Public School</p>
					<p>12th</p>
				</a>
			</li>
			<li>
				<a href="profile.html">
					<img src="/assets/pic11.jpg" alt="Student" />
					<h4>Umasankar Buddhi</h4>
					<p>ST Xaviers Public School</p>
					<p>9th</p>
				</a>
			</li>
			<li>
				<a href="profile.html">
					<img src="/assets/c15.jpg" alt="Student" />
					<h4>Shivani Bhatt</h4>
					<p>Ryan International School</p>
					<p>10th</p>
				</a>
			</li>														   
		</ul>
  	</div>
</div>

<div class="box_3 clearfix">
  	<div class="container">
		<div class="heading_1 col-lg-3 col-md-3 col-sm-12 col-xs-12">
       		<div class="heading column heading-v1 separator_align_right">
         		<div class="heading-inner">
             		<small class="subheading"> introducing</small>
             		<h2>Latest Discussions</h2>
         		</div>   
      		</div>   
    	</div>  
		<div class="col-md-9 row-inner">
			<div class="col-md-12 row-inner_1">
				<div class="col-md-6 col-inner">
					<ul class="classi_1">
						<li class="classi_1-left"><img src="/assets/pic1.jpg" class="img-responsive" alt=""/></li>
						<li class="classi_1-right">
							<h3><a href="discussion.html">vulputate</a></h3>
							<p>Curabitur quisque morbi aspernatu</p>
						</li>
						<div class="clearfix"> </div>
					</ul>
					<ul class="classi_1">
						<li class="classi_1-left"><img src="/assets/pic2.jpg" class="img-responsive" alt=""/></li>
						<li class="classi_1-right">
							<h3><a href="discussion.html">Ligula</a></h3>
							<p>Et ante eget, cras risus et hymena</p>
						</li>
						<div class="clearfix"> </div>
					</ul>
					<ul class="classi_1">
						<li class="classi_1-left"><img src="/assets/pic3.jpg" class="img-responsive" alt=""/></li>
						<li class="classi_1-right">
							<h3><a href="discussion.html">Condimentum</a></h3>
							<p>cupidatat condimentum.</p>
						</li>
						<div class="clearfix"> </div>
					</ul>
					<ul class="classi_1 classi_2">
						<li class="classi_1-left"><img src="/assets/pic4.jpg" class="img-responsive" alt=""/></li>
						<li class="classi_1-right">
							<h3><a href="discussion.html">interdum</a></h3>
							<p>nulla volutpat vestibulum arcu,</p>
						</li>
						<div class="clearfix"> </div>
					</ul>
				</div>
				<div class="col-md-6 col-inner_1">
					<ul class="classi_1">
						<li class="classi_1-left"><img src="/assets/pic7.jpg" class="img-responsive" alt=""/></li>
						<li class="classi_1-right middle">
							<h3><a href="discussion.html">commodo </a></h3>
							<p>ac interdum nulla volutpat vestibu</p>
						</li>
						<div class="clearfix"> </div>
					</ul>
					<ul class="classi_1">
						<li class="classi_1-left"><img src="/assets/pic8.jpg" class="img-responsive" alt=""/></li>
						<li class="classi_1-right middle">
							<h3><a href="discussion.html">vestibulum</a></h3>
							<p>ac justo et justo pede sapien nam</p>
						</li>
						<div class="clearfix"> </div>
					</ul>
					<ul class="classi_1">
						<li class="classi_1-left"><img src="/assets/pic9.jpg" class="img-responsive" alt=""/></li>
						<li class="classi_1-right middle">
							<h3><a href="discussion.html">phasellus</a></h3>
							<p>sem molestie tortor, nascetur</p>
						</li>
						<div class="clearfix"> </div>
					</ul>
					<ul class="classi_1 classi_2">
						<li class="classi_1-left"><img src="/assets/pic10.jpg" class="img-responsive" alt=""/></li>
						<li class="classi_1-right middle">
							<h3><a href="discussion.html"> faucibus</a></h3>
							<p>Erat metus nec sunt sit ipsum</p>
						</li>
						<div class="clearfix"> </div>
					</ul>
	   			</div>
	 		</div>
   		</div>
 	</div>
</div>

<div class="box_2 testimonialblock">
  	<div class="container">
	  	<h2 class="testimonial-heading">Testimonials</h2>
		<hr></hr>
	    <ul id="flexiselDemo4">
			<li>
					<img src="/assets/pic6.jpg" alt="User" />
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<h5>Balkesh Saini</h5>
			</li>
			<li>
					<img src="/assets/pic5.jpg" alt="Student" />
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<h5>Balkesh Saini</h5>
			</li>
			<li>
					<img src="/assets/pic11.jpg" alt="Student" />
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<h5>Balkesh Saini</h5>
			</li>
			<li>	
					<img src="/assets/c15.jpg" alt="Student" />
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<h5>Balkesh Saini</h5>
			</li>														   
		</ul>
  	</div>
</div>
