<div class="about_banner">
	<div class="container">
		<h2>Student Teacher School Portal</h2>
		<span class="breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i></a> / <span>Portal</span></span>
	</div>
</div>
<div class="about_top">
  <div class="container">
	<div class="col-md-3 column-11">
	</div>
	<div class="col-md-9 column-15">
	   <h6>Entities</h6>
	   <p class="m_5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
       <div class="entry_values">
          <div class="col-md-3 grid_1">
            <select class="form-control m_6 col-md-3" name="usertype" id="usertype">
              <option value="">Please Select</option>
              <option value="1">Student</option>
              <option value="2">Teacher</option>
              <option value="3">School</option>    
            </select>
          </div>
          <div class="col-md-3 grid_1">
            <select class="form-control grid_1 col-md-3" name="country" id="country database_country">
                <option value="">Country</option>
                <option value="India">India</option>
                                                           
                </select>
          </div>
          <div class="col-md-3 grid_1">
             <select class="form-control grid_1 col-md-3" name="state" id="state">
	            <option value="">State</option>
                      <option value="Andaman and nicobar">
Andaman and nicobar                                            </option>
                        <option value="Andhra pradesh">
Andhra pradesh                                            </option>
                        <option value="Arunachal pradesh">
Arunachal pradesh                                            </option>
                        <option value="Assam">
Assam                                            </option>
                        <option value="Bihar">
Bihar                                            </option>
                        <option value="Chandigarh">
Chandigarh                                            </option>
                        <option value="Chhattisgarh">
Chhattisgarh                                            </option>
                        <option value="Dadra and nagar haveli">
Dadra and nagar haveli                                            </option>
                        <option value="Delhi">
Delhi                                            </option>
                        <option value="Goa">
Goa                                            </option>
                        <option value="Gujarat">
Gujarat                                            </option>
                        <option value="Haryana">
Haryana                                            </option>
                        <option value="Himachal pradesh">
Himachal pradesh                                            </option>
                        <option value="Jammu and kashmir">
Jammu and kashmir                                            </option>
                        <option value="Jharkhand">
Jharkhand                                            </option>
                        <option value="Karnataka">
Karnataka                                            </option>
                        <option value="Kerala">
Kerala                                            </option>
                        <option value="Madhya pradesh">
Madhya pradesh                                            </option>
                        <option value="Maharashtra">
Maharashtra                                            </option>
                        <option value="Manipur">
Manipur                                            </option>
                        <option value="Meghalaya">
Meghalaya                                            </option>
                        <option value="Mizoram">
Mizoram                                            </option>
                        <option value="Nagaland">
Nagaland                                            </option>
                        <option value="Odisha">
Odisha                                            </option>
                        <option value="Pondicherry">
Pondicherry                                            </option>
                        <option value="Punjab">
Punjab                                            </option>
                        <option value="Rajasthan">
Rajasthan                                            </option>
                        <option value="Sikkim">
Sikkim                                            </option>
                        <option value="Tamil nadu">
Tamil nadu                                            </option>
                        <option value="Telangana">
Telangana                                            </option>
                        <option value="Tripura">
Tripura                                            </option>
                        <option value="Uttar pradesh">
Uttar pradesh                                            </option>
                        <option value="Uttarakhand">
Uttarakhand                                            </option>
                        <option value="West bengal">
West bengal                                            </option>
            </select>
                </div>
                <div class="col-md-3 grid_1">
                <select class="form-control grid_1 grid_2 col-md-3" name="city" id="city">
                   <option value="">City</option>
                                                    <option value="Ashoknagar">
                    Ashoknagar                                            </option>
                                                            <option value="Asola">
                    Asola                                            </option>
                                                            <option value="Bakhtawar">
                    Bakhtawar                                            </option>
                                                            <option value="Central delhi">
                    Central delhi                                            </option>
                                                            <option value="Delhi">
                    Delhi                                            </option>
                                                            <option value="Delhi ncr">
                    Delhi ncr                                            </option>
                                                            <option value="Dwarka">
                    Dwarka                                            </option>
                                                            <option value="East delhi">
                    East delhi                                            </option>
                                                            <option value="Hasanpur">
                    Hasanpur                                            </option>
                                                            <option value="Kirti nagar">
                    Kirti nagar                                            </option>
                                                            <option value="New delhi">
                    New delhi                                            </option>
                                                            <option value="North delhi">
                    North delhi                                            </option>
                                                            <option value="North west delhi">
                    North west delhi                                            </option>
                                                            <option value="Rohini">
                    Rohini                                            </option>
                                                            <option value="South delhi">
                    South delhi                                            </option>
                                                            <option value="Tilak nagar">
                    Tilak nagar                                            </option>
                                                            <option value="Trilokpuri">
                    Trilokpuri                                            </option>
                                                            <option value="West delhi">
                    West delhi                                            </option>
                                                </select>
              </div>
              <div class="clearfix"></div>
          </div>
          <div class="panel-body_3">
            <div class="pull-left" style="margin:0 5px;">
        		<a class="thumbnail" href="profile.html">
        			<img src="/assets/pic14.jpg" width="60" height="60">
        		</a>
        	</div>
        	<div class="name">
	            <a href="profile.html">
	                <span>Bikesh</span>
	            </a><br>
	            <a href="#">
	               <p>Teacher</p>                                                
	            </a>
	            <a href="#">
	                <p>Noida, UP</p>                                                
	            </a>
             </div>
             <div class="contact_btn">
             	<a href="#" class="add_btn add_btn1" data-toggle="modal" data-target="#applyModal">Contact me</a>
             </div>
             <div class="clearfix"></div><hr>
             <div class="pull-left" style="margin:0 5px;">
        		<a class="thumbnail" href="profile.html">
        			<img src="/assets/pic13.jpg" width="60" height="60">
        		</a>
        	</div>
        	<div class="name">
	            <a href="profile.html">
	                <span>Akhil</span>
	            </a><br>
	            <a href="#">
	               <p> Student</p>                                                
	            </a>
	            <a href="#">
	                <p>East Delhi, Delhi</p>                                                
	            </a>
             </div>
             <div class="contact_btn">
             	<a href="#" class="add_btn add_btn1" data-toggle="modal" data-target="#applyModal">Contact me</a>
             </div>
             <div class="clearfix"></div><hr>
             <div class="pull-left" style="margin:0 5px;">
        		<a class="thumbnail" href="profile.html">
        			<img src="/assets/pic14.jpg" width="60" height="60">
        		</a>
        	</div>
        	<div class="name">
	            <a href="profile.html">
	                <span>DAV Public School</span>
	            </a><br>
	            <a href="#">
	               <p> School</p>                                                
	            </a>
	            <a href="#">
	                <p>Noida, UP</p>                                                
	            </a>
             </div>
             <div class="contact_btn">
             	<a href="#" class="add_btn add_btn1" data-toggle="modal" data-target="#applyModal">Contact me</a>
             </div>
             <div class="clearfix"></div><hr>
             <div class="pull-left" style="margin:0 5px;">
        		<a class="thumbnail" href="profile.html">
        			<img src="/assets/pic13.jpg" width="60" height="60">
        		</a>
        	</div>
        	<div class="name">
	            <a href="profile.html">
	                <span>Lorem</span>
	            </a><br>
	            <a href="#">
	               <p> Entity</p>                                                
	            </a>
	            <a href="#">
	                <p>Location</p>                                                
	            </a>
             </div>
             <div class="contact_btn">
             	<a href="#" class="add_btn add_btn1" data-toggle="modal" data-target="#applyModal">Contact me</a>
             </div>
             <div class="clearfix"></div><hr>
             <div class="pull-left" style="margin:0 5px;">
        		<a class="thumbnail" href="profile.html">
        			<img src="/assets/pic14.jpg" width="60" height="60">
        		</a>
        	</div>
        	<div class="name">
	            <a href="profile.html">
	                <span>Ipsum</span>
	            </a><br>
	            <a href="#">
	               <p> Entity</p>                                                
	            </a>
	            <a href="#">
	                <p>Location</p>                                                
	            </a>
             </div>
             <div class="contact_btn">
             	<a href="#" class="add_btn add_btn1" data-toggle="modal" data-target="#applyModal">Contact me</a>
             </div>
             <div class="clearfix"></div>
          </div>
        </div>
   </div>
</div>


<div class="box_2" style=" background:#e7e7e7 !important;">
  <div class="container">
	  	<h3 class="marqueeheading">Schools</h3>
	    <ul id="flexiselDemo1">
			<li>
				<a href="profile_detail-about.html">
					<img src="/assets/school4.png" alt="School" />
					<h4>DAV Public School</h4>
					<p>Noida, Sec-16</p>
				</a>
			</li>
			<li>
				<a href="profile_detail-about.html">
					<img src="/assets/school2.png" alt="School" />
					<h4>Modern Public School</h4>
					<p>New Delhi</p>
				</a>
			</li>
			<li>
				<a href="profile_detail-about.html">
					<img src="/assets/school3.png" alt="School" />
					<h4>ST Andrews Public School</h4>
					<p>Navi Mumbai</p>
				</a>
			</li>
			<li>
				<a href="profile_detail-about.html">
					<img src="/assets/school1.png" alt="School" />
					<h4>Hillwoods Academy</h4>
					<p>Banglore</p>
				</a>
			</li>
														   
		</ul>
  </div>
</div>

<div class="box_2" style=" background:#f1f1f1 !important;">
  <div class="container">
	  	<h3 class="marqueeheading">Teachers</h3>
	    <ul id="flexiselDemo2">
			<li>
				<a href="profile_detail-about.html">
					<img src="/assets/c8.jpg" alt="Teacher" />
					<h4>Bikesh Kumar</h4>
					<p>Chemistry</p>
					<p>Noida, Sec-18</p>
				</a>
			</li>
			<li>
				<a href="profile_detail-about.html">
					<img src="/assets/c11.jpg" alt="Teacher" />
					<h4>Alpana</h4>
					<p>Politics</p>
					<p>New Delhi</p>
				</a>
			</li>
			<li>
				<a href="profile_detail-about.html">
					<img src="/assets/c3.jpg" alt="Teacher" />
					<h4>Preeti</h4>
					<p>English</p>
					<p>Faridabad</p>
				</a>
			</li>
			<li>
				<a href="profile_detail-about.html">
					<img src="/assets/c13.jpg" alt="Teacher" />
					<h4>Animesh</h4>
					<p>Maths</p>
					<p>Noida</p>
				</a>
			</li>
														   
		</ul>
  </div>
</div>

<div class="box_2" style=" background:#e7e7e7 !important;">
  <div class="container">
	  	<h3 class="marqueeheading">Students</h3>
	    <ul id="flexiselDemo3">
			<li>
				<a href="profile_detail-about.html">
					<img src="/assets/pic6.jpg" alt="Student" />
					<h4>Ajay Mahto</h4>
					<p>Vanasthali Public School</p>
					<p>11th</p>
				</a>
			</li>
			<li>
				<a href="profile_detail-about.html">
					<img src="/assets/pic5.jpg" alt="Student" />
					<h4>Bhupesh Mishra</h4>
					<p>Army Public School</p>
					<p>12th</p>
				</a>
			</li>
			<li>
				<a href="profile_detail-about.html">
					<img src="/assets/pic11.jpg" alt="Student" />
					<h4>Umasankar Buddhi</h4>
					<p>ST Xaviers Public School</p>
					<p>9th</p>
				</a>
			</li>
			<li>
				<a href="profile_detail-about.html">
					<img src="/assets/c15.jpg" alt="Student" />
					<h4>Shivani Bhatt</h4>
					<p>Ryan International School</p>
					<p>10th</p>
				</a>
			</li>
														   
		</ul>
  </div>
</div>


<section class="bg-secondary">
        <div class="container">
           <div class="col-md-6 country_list2">
              <div class="inset-3">
                <h4>
                  Why Choose Us
                </h4>
                <div class="line-inset-1">
                  <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages 
                  </p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                  <div class="link_1">
                    <a href="#" class="add_btn more_btn">More</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 country_list1">
              <div class="inset-3">
                <h4>
                  Other Information
                </h4>
				<div class="line-inset-1">
                  <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages 
                  </p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                  <div class="link_1">
                    <a href="#" class="add_btn more_btn">More</a>
                  </div>
                </div>
             </div>
           </div>
          <div class="clearfix"> </div>
        </div>
</section>