<div class="about_banner">
	<div class="container">
		<h2>Schools</h2>
		<span class="breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i></a> / <span>Schools</span></span>
	</div>
</div>
<div class="about_top">
 <div class="container">
	<div class="col-md-3 column-1">
		<a href="#" class="btn btn_3 btn-primary" data-toggle="modal" data-target="#applyModal_1">Sign Up
          <span style="font-size: 20px;">Join Now</span>
          <h3>Click Here</h3>
        </a>
        <div class="list-group">
	       <a href="school.html" class="list-group-item active_1">Search</a>
	       <a href="school_review.html" class="list-group-item ">School Review</a>
	       <a href="school_comparison.html" class="list-group-item ">School Comparison</a>
	       <a href="resources.html" class="list-group-item ">Resources</a>
        </div>
		<div class="filter_sec">
			<h3>Filter By</h3>
			
			<div class="section" style=" position:relative; margin:0 auto 10px; ">
				<label for="location" class="field prepend-icon">
					<input type="text" name="compare" id="compare" placeholder="School Name">
					<label for="compare" class="field-icon">
						<i class="fa fa-search"></i>
					</label>
				</label>
		   </div>
			
			
			
			<div class="search_by_name">
				<div class="accordion2">
					<h1>Main Facilities</h1>
					<div class="rating_filter">
						<ul>
							<li>
								<input type="checkbox" name="star1" value="1">Fees - Online Payent<br>
							</li>
							<li>
								<input type="checkbox" name="star1" value="1">Library<br>
							</li>
							<li>
								<input type="checkbox" name="star1" value="1">Science Laboratories<br>
							</li>
							<li>
								<input type="checkbox" name="star1" value="1">Computer Laboratory<br>
							</li>
							<li>
								<input type="checkbox" name="star1" value="1">Music<br>
							</li>
							<li>
								<input type="checkbox" name="star1" value="1">Art & Craft<br>
							</li>
							<li>
								<input type="checkbox" name="star1" value="1">Transport<br>
							</li>		
						</ul>
					</div>
					<h1>Other Facilities</h1>
					<div class="rating_filter">
						<ul>
							<li>
								<input type="checkbox" name="star1" value="1">Medical Aid<br>
							</li>
							<li>
								<input type="checkbox" name="star1" value="1">Amphitheatre<br>
							</li>
							<li>
								<input type="checkbox" name="star1" value="1">Security<br>
							</li>
							<li>
								<input type="checkbox" name="star1" value="1">Dining Hall<br>
							</li>
							<li>
								<input type="checkbox" name="star1" value="1">Swimming Pool<br>
							</li>
							<li>
								<input type="checkbox" name="star1" value="1">Athletic Field<br>
							</li>
							<li>
								<input type="checkbox" name="star1" value="1">Gymnasium<br>
							</li>
							<li>
								<input type="checkbox" name="star1" value="1">Squash Court<br>
							</li>
							<li>
								<input type="checkbox" name="star1" value="1">Horse Riding<br>
							</li>							
						</ul>
					</div>
					
				</div>
				<script>
					$(".accordion2").accordion();
				</script>	
			</div>
			
		</div>
	</div>
	<div class="col-md-9 column-15">
		<div class="schoolbanner">
			<div class="schoolbanner_overlay"></div>
			<h4>Empowering millions of students in making the right career and school decision</h4>
		</div>
	    
		<div class="entry_values" style=" margin:20px;">
          <div class="col-md-3 grid_1">
            <select class="form-control m_6 col-md-3" name="Region" id="Region">
              <option value="">Region</option>
              <option value="1">Delhi</option>
              <option value="2">NCR</option> 
            </select>
          </div>
          <div class="col-md-3 grid_1">
            <select class="form-control grid_1 col-md-3" name="Board" id="Board">
                <option value="">Board</option>
                <option value="CBSE">CBSE</option>
				<option value="ICSC">ICSC</option>
				<option value="State">State Board</option>   
            </select>
          </div>
          <div class="col-md-3 grid_1">
            <select class="form-control grid_1 col-md-3" name="Location" id="Location">
	            <option value="">Location</option>
	            <option value="Noida">Noida</option>
				<option value="Gurgaon">Gurgaon</option>
				<option value="Delhi">Delhi</option>                                           
            </select>
          </div>
		  <div class="col-md-3 grid_1">
            <select class="form-control grid_1 col-md-3" name="Location" id="Location">
	            <option value="">Location Under</option>
	            <option value="Noida">5 km</option>
				<option value="Gurgaon">10 km</option>				                                           
            </select>
          </div>
                
          <div class="clearfix"></div>
        </div>	
			
		<div class="col-md-12" style=" padding:0px; margin:0 0 25px 0;">
				<div class="col-md-12">
					<div class="col-md-6 col-inner">
						<ul class="classi_1">
							<li class="classi_1-left"><a href="profile.html"><img src="/assets/school3.png" class="img-responsive" alt=""/></a></li>
							<li class="classi_1-right">
								<h3 style=" font-size:16px; margin-bottom:0px;"><a href="profile.html">DAV Public School</a></h3>
								<p>Noida</p>
								<p><strong>Board:</strong>C.B.S.E</p>	
							</li>
							<div class="clearfix"> </div>
						</ul>
						<ul class="classi_1">
							<li class="classi_1-left"><a href="profile.html"><img src="/assets/school3.png" class="img-responsive" alt=""/></a></li>
							<li class="classi_1-right">
								<h3 style=" font-size:16px; margin-bottom:0px;"><a href="profile.html">Vanasthali Public School</a></h3>
								<p>Delhi</p>
								<p><strong>Board:</strong>C.B.S.E</p>
							</li>
							<div class="clearfix"> </div>
						</ul>
						<ul class="classi_1">
							<li class="classi_1-left"><a href="profile.html"><img src="/assets/school3.png" class="img-responsive" alt=""/></a></li>
							<li class="classi_1-right">
								<h3 style=" font-size:16px; margin-bottom:0px;"><a href="profile.html">Modern Public School</a></h3>
								<p>Jaipur</p>
								<p><strong>Board:</strong>C.B.S.E</p>
							</li>
							<div class="clearfix"> </div>
						</ul>
						<ul class="classi_1 classi_2">
							<li class="classi_1-left"><a href="profile.html"><img src="/assets/school3.png" class="img-responsive" alt=""/></a></li>
							<li class="classi_1-right">
								<h3 style=" font-size:16px; margin-bottom:0px;"><a href="profile.html">ST Andrews Public School</a></h3>
								<p>Mumbai</p>
								<p><strong>Board:</strong>State</p>
							</li>
							<div class="clearfix"> </div>
						</ul>
					</div>
					<div class="col-md-6 col-inner_1" style=" background:#f9f9f9 !important;">
						<ul class="classi_1">
							<li class="classi_1-left"><a href="profile.html"><img src="/assets/school3.png" class="img-responsive" alt=""/></a></li>
							<li class="classi_1-right">
								<h3 style=" font-size:16px; margin-bottom:0px;"><a href="profile.html">DAV Public School</a></h3>
								<p>Noida</p>
								<p><strong>Board:</strong>C.B.S.E</p>
							</li>
							<div class="clearfix"> </div>
						</ul>
						<ul class="classi_1">
							<li class="classi_1-left"><a href="profile.html"><img src="/assets/school3.png" class="img-responsive" alt=""/></a></li>
							<li class="classi_1-right">
								<h3 style=" font-size:16px; margin-bottom:0px;"><a href="profile.html">Vanasthali Public School</a></h3>
								<p>Delhi</p>
								<p><strong>Board:</strong>C.B.S.E</p>
							</li>
							<div class="clearfix"> </div>
						</ul>
						<ul class="classi_1">
							<li class="classi_1-left"><a href="profile.html"><img src="/assets/school3.png" class="img-responsive" alt=""/></a></li>
							<li class="classi_1-right">
								<h3 style=" font-size:16px; margin-bottom:0px;"><a href="profile.html">Modern Public School</a></h3>
								<p>Jaipur</p>
								<p><strong>Board:</strong>C.B.S.E</p>
							</li>
							<div class="clearfix"> </div>
						</ul>
						<ul class="classi_1 classi_2">
							<li class="classi_1-left"><a href="profile.html"><img src="/assets/school3.png" class="img-responsive" alt=""/></a></li>
							<li class="classi_1-right">
								<h3 style=" font-size:16px; margin-bottom:0px;"><a href="profile.html">ST Andrews Public School</a></h3>
								<p>Mumbai</p>
								<p><strong>Board:</strong>State</p>
							</li>
							<div class="clearfix"> </div>
						</ul>
					   </div>
			</div>
			</div>	
		  
         <div class="gallery-cursual" style=" margin-top:15px;">
		 <!-- requried-jsfiles-for owl -->
		<link href="/assets/owl.carousel.css" rel="stylesheet">
		<script src="/assets/owl.carousel.js"></script>
			<script>
				$(document).ready(function() {
					$("#owl-demo").owlCarousel({
						items : 3,
						lazyLoad : true,
						autoPlay : true,
						pagination : false,
					});
				});
			</script>
		<!-- //requried-jsfiles-for owl -->
		<!-- start content_slider -->
		  <div id="example1" style=" margin-bottom:0px;">
		   	<h5>Recommended Schools</h5>
			  <div id="owl-demo" class="owl-carousel text-center">
				<div class="item">
					<a href="" class="img-responsive pr" title="School1" rel="title1">
						<img class="lazyOwl" data-src="/assets/school1.png" class="img-responsive" alt="name">
						<div class="schoolinfo"><h4>School 1</h4><p>Location</p><br><p>Match Criteria = 80%</p></div>
					</a>
				</div>
				<div class="item">
					<a href="" class="img-responsive pr" title="School2" rel="title1">
						<img class="lazyOwl" data-src="/assets/school2.png" class="img-responsive" alt="name">
						<div class="schoolinfo"><h4>School 2</h4><p>Location</p><br><p>Match Criteria = 86%</p></div>
					</a>
				</div>
				<div class="item">
					<a href="" class="img-responsive pr" title="School3" rel="title1">
						<img class="lazyOwl" data-src="/assets/school3.png" class="img-responsive" alt="name">
						<div class="schoolinfo"><h4>School 3</h4><p>Location</p><br><p>Match Criteria = 90%</p></div>
					</a>
				</div>
				<div class="item">
					<a href="" class="img-responsive pr" title="School4" rel="title1">
						<img class="lazyOwl" data-src="/assets/school4.png" class="img-responsive" alt="name">
						<div class="schoolinfo"><h4>School 4</h4><p>Location</p><br><p>Match Criteria = 83%</p></div>
					</a>
				</div>
				
			  </div>
			<!--//sreen-gallery-cursual---->
			</div>
	       </div>	
			
		   
       </div>
       <div class="clearfix"> </div>
  </div>
</div>